.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px; /* Agrega margen inferior para separar del fondo gris */
}

header {
    background-color: rgba(201, 205, 206, 0.8); /* Fondo blanco semitransparente */
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px; /* Agregamos un margen inferior */
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
}

.cuadrado {
    background-color: rgb(198, 244, 233);
    width: 140px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    transition: background-color 0.3s, color 0.3s; /* Agrega transición de color de fondo y texto */
}

@media(min-width:768px){
    .cuadrado {
        width: 30%;
    }  
}

.ruta {
    display: none;
    text-align: center;
    margin-top: 10px; /* Agrega margen superior para separar del fondo gris */
}

.ruta img {
    max-width: 100%;
    max-height: 200px;
}

/* Estilo para la ruta activa */
.ruta.activa {
    display: block;
    background-color: #f2f2f2; /* Fondo gris claro */
    padding: 10px;
}

.ruta.activa p {
    color: #000; /* Texto con perfilado negro */
}

.alinearizq { 
    text-align:left;
}